<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Id: {{UsuarioData.id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input [(ngModel)]="UsuarioData.nombre" placeholder="nombre"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Edad:</ion-label>
    <ion-input [(ngModel)]="UsuarioData.edad" placeholder="Edad"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input [(ngModel)]="UsuarioData.email" placeholder="email"> </ion-input>
  </ion-item>
  <ion-button (click)="update()" color="succes" expand="block">Actualizar</ion-button>
  <ion-button [routerLink]="['/home']" color="warning" expan="block">Cancelar</ion-button>

</ion-content>
